# Python
__pycache__/
*.py[cod]
.agents/
.codex/

log/
Log/


PR-PL/
PAA/
FAT/
MSHCL/
DS-AGC/Log/
DS
PCL-TDGCN/data/
PCL-TDGCN/__pycache__/
PCL-TDGCN/log/
PCL-TDGCN/model
PCL-TDGCN/train_log/


result/
save/
Scripts/
search_runs/
Sera-code/
workspace/
requirements.txt

